* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  height: 100%;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  color: #3D3D3D;
  font-weight: 300;
  background: -webkit-linear-gradient(#fcfafa, #fcfbfb);
  background-color: #EDEDED;
  -webkit-transform-style: preserve-3d; }

.clear-fix {
  clear: both; }

.main {
  position: relative;
  overflow: hidden; }
  .main .overlayer {
    position: relative;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    padding: 0 7%; }

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .9em; }
  header .logo {
    padding: 60px;
    background: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    header nav a {
      text-decoration: none;
      font-size: 1.09em;
      font-weight: 500;
      color: #387094; }
    header nav .about-button {
      margin-right: 15px; }
      header nav .about-button:hover {
        color: rgba(14, 199, 231, 0.8); }
    header nav .contact-button {
      padding: 3px 20px;
      border-radius: 2px;
      border: 2.5px solid #387094; }
      header nav .contact-button:hover {
        background: rgba(14, 199, 231, 0.8);
        transition: .5s; }
  header .uinav {
    display: none;
    cursor: pointer; }
    header .uinav .bar {
      width: 31px;
      height: 5px;
      margin: 3px 0;
      background-color: #387094; }
    header .uinav .disapear {
      display: none;
      opacity: 0;
      transition: .5s;
      overflow: hidden; }
    header .uinav .reverse {
      transform: rotate(-45deg) translate(-7px, 5px);
      transition: .5s; }
    header .uinav .reversetwo {
      transform: rotate(45deg);
      transition: .5s; }

.mobile-nav {
  width: 0;
  background-color: cornflowerblue;
  overflow: hidden;
  float: right;
  position: absolute;
  z-index: 1;
  right: 5%;
  transition: .5s ease-out;
  display: none; }
  .mobile-nav .navcontent {
    position: relative; }

.closeNav {
  width: 25%;
  padding: 15px; }

.lineswrap {
  overflow: hidden;
  position: absolute;
  perspective: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

@keyframes cog {
  25% {
    -moz-transform: rotateY(-288deg);
    -ms-transform: rotateY(-288deg);
    transform: rotateY(-288deg); } }
.scene {
  position: relative;
  width: 20%;
  height: 100vh;
  perspective: 500px;
  transform: rotateZ(-45deg); }

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  -webkit-animation: cog 60s infinite ease-out; }
  .carousel .lines {
    float: left;
    display: inline;
    width: .2px;
    margin: 0 30px;
    opacity: .2; }
  .carousel #one {
    background: rgba(228, 19, 106, 0.884);
    height: 100vh; }
  .carousel #two {
    background: rgba(14, 199, 231, 0.8);
    height: 70vh; }
  .carousel #three {
    background: rgba(235, 231, 8, 0.8);
    height: 80vh; }

.carousel__cell {
  position: absolute;
  height: 100vh;
  text-align: center; }

.carousel__cell:nth-child(1) {
  transform: rotateY(0deg) translateZ(288px); }

.carousel__cell:nth-child(2) {
  transform: rotateY(40deg) translateZ(288px); }

.carousel__cell:nth-child(3) {
  transform: rotateY(80deg) translateZ(288px); }

.carousel__cell:nth-child(4) {
  transform: rotateY(120deg) translateZ(288px); }

.carousel__cell:nth-child(5) {
  transform: rotateY(160deg) translateZ(288px); }

.carousel__cell:nth-child(6) {
  transform: rotateY(200deg) translateZ(288px); }

.carousel__cell:nth-child(7) {
  transform: rotateY(240deg) translateZ(288px); }

.carousel__cell:nth-child(8) {
  transform: rotateY(280deg) translateZ(288px); }

.carousel__cell:nth-child(9) {
  transform: rotateY(320deg) translateZ(288px); }

.hero {
  margin-top: 18vh; }
  .hero .hero-greeting {
    display: flex;
    align-items: center;
    justify-content: center; }
    .hero .hero-greeting #greeting-wrap {
      white-space: pre-line;
      font-size: 2.5em;
      font-weight: 500;
      color: #387094; }
    .hero .hero-greeting #cursor {
      width: 4px;
      height: 75px;
      background-color: #616161; }
    .hero .hero-greeting .flicker-out {
      opacity: .02;
      transition: ease-in; }
  .hero #intro-wrap .intro {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    padding: 0 0 15px 0; }
  .hero #intro-wrap #workbuttonwrap {
    margin: auto;
    width: auto;
    text-align: center; }
    .hero #intro-wrap #workbuttonwrap #workbutton {
      display: inline-block;
      text-decoration: none;
      padding: 15px 25px;
      color: #387094;
      font-size: 1.1em;
      font-weight: 500;
      border: 2.5px solid #387094; }
      .hero #intro-wrap #workbuttonwrap #workbutton:hover {
        transition: .5s;
        background: rgba(14, 199, 231, 0.8); }
  .hero .hide {
    transition: opacity 1.2s ease-out;
    opacity: 0;
    height: 0px;
    overflow: hidden; }
  .hero .show {
    opacity: 1;
    height: auto; }
  .hero .display-none {
    transition: opacity 2s ease-out;
    opacity: 0;
    height: 0; }

.about {
  top: 100%;
  background-color: aquamarine; }

@media screen and (max-width: 1024px) {
  .main .overlayer {
    height: 75vh; }

  .hero {
    margin-top: 19vh; }
    .hero .hero-greeting #cursor {
      width: 4px;
      height: 75px;
      background-color: #616161; }
    .hero #intro-wrap #workbuttonwrap #workbutton {
      padding: 15px 25px;
      color: #387094;
      font-size: 1.1em;
      font-weight: 500; } }
@media only screen and (max-width: 812px) {
  header .logo {
    padding: 45px; }
  header nav .contact-button {
    font-size: .8em; }

  .hero {
    margin-top: 12vh; }
    .hero .hero-greeting #greeting-wrap {
      white-space: pre-line;
      font-size: 1.6em;
      font-weight: 500; }
    .hero .hero-greeting #cursor {
      width: 2.5px;
      height: 50px;
      background-color: #616161; }
    .hero #intro-wrap .intro {
      font-size: 1.3em; }
    .hero #intro-wrap #workbuttonwrap #workbutton {
      padding: 8px 12px;
      color: #387094;
      font-size: 1em;
      font-weight: 500; } }
@media screen and (max-width: 768px) {
  .main {
    height: 75vh; }

  .hero {
    margin-top: 15vh; }
    .hero .hero-greeting #greeting-wrap {
      font-size: 2em; }
    .hero .hero-greeting #cursor {
      width: 3px;
      height: 60px;
      background-color: #616161; }
    .hero #intro-wrap .intro {
      font-size: 1.7em;
      padding: 0 0 10px 0; }
    .hero #intro-wrap #workbuttonwrap #workbutton {
      display: none;
      padding: 10px 23px; } }
@media screen and (max-width: 640px) {
  .main {
    height: 60vh; }

  header {
    padding: 5px 0;
    font-size: .5em; }
    header .logo {
      padding: 45px; }
    header nav .about-button {
      display: none; }
    header nav .contact-button {
      display: none; }
    header .uinav {
      display: block; }

  .hero .hero-greeting #greeting-wrap {
    font-size: 1.2em; }
  .hero .hero-greeting #cursor {
    width: 2px;
    height: 35px; }
  .hero #intro-wrap .intro {
    font-size: 1em;
    padding: 0 0 15px 0; }
  .hero #intro-wrap #workbuttonwrap #workbutton {
    padding: 10px 23px; } }

/*# sourceMappingURL=styles.css.map */
