
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
	font-family: 'Work Sans', sans-serif;
	color: #3D3D3D;
	font-weight: 300;
	background: -webkit-linear-gradient( #fcfafa, #fcfbfb);
  background-color: #EDEDED;
  -webkit-transform-style: preserve-3d;  
}
.clear-fix {
	clear: both;
}
.main {
  position: relative;
  overflow: hidden;
  .overlayer {
    position: relative;
    height: 95vh;
    width: 100vw;
    overflow: hidden;
    padding: 0 7%;
  }
}//end of main

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .9em;
  .logo {
		padding: 60px;
    background: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    a {
      text-decoration: none;
      font-size: 1.09em;
      font-weight: 500;
      color: #387094 ;
    }

    .about-button {
      margin-right: 15px;
      &:hover {
        color: rgba(14, 199, 231, 0.8);
      }
    }
    .contact-button {
      padding: 3px 20px;
      border-radius: 2px;
      border: 2.5px solid #387094; 
      &:hover {
        background: rgba(14, 199, 231, 0.8);
        //background-color: #F5DA20;
        transition: .5s;
      }
    }
  }
  .uinav {  
    display: none;
    cursor: pointer;
    .bar{
      width: 31px;
      height: 5px;
      margin: 3px 0;
      background-color: #387094;
    }
    .disapear {
      display: none;
      opacity: 0;
      transition: .5s;
      overflow: hidden;
    }
    .reverse {
      transform: rotate(-45deg) translate(-7px, 5px);
      transition: .5s;
    }
    .reversetwo {
      transform: rotate(45deg);
      transition: .5s;
    }
  }
}
.mobile-nav {
  width: 0;
  height: 100%;
  float: right;
  // width: 25%;
  background-color: #e7e7e7;;
  overflow: hidden;
  position: absolute;
  //position: relative;
  z-index: 1;
  right: 0%;
  left: 0;
  transition: .5s ease-in-out;
  display: none;
  a {
    width: 100%;
    color: #3D3D3D;
    display: inline-block;
    padding: 5px 0;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    font-size: 2.5em;
    font-weight: 500;
    &:hover {
      background-color: rgba(14, 199, 231, 0.8);
    }
  }
 
}
.closeNav {
  width: 100%;
}

.lineswrap {
  overflow: hidden;
  position: absolute;
  perspective: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
@keyframes cog {
  25%{ 
    -moz-transform: rotateY(-288deg);
    -ms-transform: rotateY(-288deg);
    transform: rotateY(-288deg)

  }
} 
.scene {
  position: relative;
  width: 20%;
  height: 100vh;
  perspective: 500px;
  transform: rotateZ(-45deg);
}
.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  -webkit-animation: cog 60s infinite ease-out;

  .lines {
    float: left;
    display: inline;
    width: .2px;
    //background: rgba(163, 162, 162, 0.8);
    margin: 0 30px;
    opacity: .2;
    //background-color: cornflowerblue;
  }
  #one {
    background: rgba(228, 19, 106, 0.884);
    height: 100vh;
  }
  #two {
    background: rgba(14, 199, 231, 0.8);
    height: 70vh;
  }
  #three {
    background: rgba(235, 231, 8, 0.8);
    height: 80vh;
  }
}
.carousel__cell {
  position: absolute;
  // width: 190px;
  height: 100vh;
  // border: 2px solid black;
  text-align: center;
  // background: rgba(153, 219, 240, 0.8);
}
.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }


.hero {
  margin-top: 18vh;
  .hero-greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    #greeting-wrap {
      white-space: pre-line;
      font-size: 2.5em;
      font-weight: 500;
      color: #387094 ;
      //color: #3D3D3D;
    }
    #cursor {
      width: 4px;
      height: 75px;
      background-color: #616161;
    }
    .flicker-out {
      opacity: .02;
      transition: ease-in;
    }
  }
  #intro-wrap {
    .intro {
      text-align: center;
      font-size: 2em;
      font-weight: 400;
      padding: 0 0 15px 0;
    }
    #workbuttonwrap {
      margin: auto;
      width: auto;
      text-align: center;
      #workbutton{ 
        display: inline-block;
        text-decoration: none;
        padding: 15px 25px ;
        color: #387094;
        font-size: 1.1em;
        font-weight: 500;
        border: 2.5px solid #387094;
        &:hover {
          transition: .5s;
          background: rgba(14, 199, 231, 0.8);
          //background-color: #F5DA20;
        }
      } 
    }
  }
  .hide {
    transition: opacity 1.2s ease-out;
    opacity: 0;
    height: 0px;
    overflow: hidden;
  }
  .show {
    opacity: 1;
    height: auto;
  }
  .display-none {
    transition: opacity 2s ease-out;
    opacity: 0;
    height: 0
  }

}
.about { 
  
  .title {
    color: rgba(228, 19, 106, 0.747);
    //color:rgba(235, 231, 8, 0.8);
    background-color: #302f2f83;
    //background-color: rgba(228, 19, 106, 0.884);
    padding: 8px 0;
    font-size: 3em;
    text-align: center;
    //text-decoration: underline;
    font-weight: 400;
    border-bottom: 4px solid rgba(228, 19, 106, 0.747);
    //border-bottom: 5px solid rgba(235, 231, 8, 0.8);
  }
  .aboutwrap {
    // background: -webkit-linear-gradient(top, #F7F7F7, #EDEDED);
	  // background-color: #EDEDED;
    display: flex;
    .about-text-wrap {
      background-color: #EDEDED;
      width: 35%;
      padding: 4% 1% 4% 7%;
      
      span {
        color:rgba(228, 19, 106, 0.747);
        font-size: 3em;
      }
      #about-text-wrap {
        font-size: 1.25em;
        margin: 25px 0 0 0;
        a {
          display: inline-block;
          text-decoration: none;
          color:rgba(228, 19, 106, 0.747);
          font-weight: 300;
          margin: 10px 0 0 0;
          &:hover {
            color:rgba(14, 199, 231, 0.8)
          }
        }
      }
    }
    .aboutcontentwrap {
      width: 65%;
      height: 100%;
      display: inline;
      padding: 4% 7% 4% 0;
      display: inline;
      .tilewrap {
        width: 96%;
        margin: 0 2%; 
        padding: 30px 8px;
        display: inline-block;
        display: flex;
        box-shadow: 0 5px 5px #CFCFCF;
        .tile {
          width: 24.25%;
          float: left;
          text-align: center;
          //border: 2px solid rgba(228, 19, 106, 0.747);
          border: 2px solid #302f2f83;
          border-radius: 5px;;
          padding: 8px 5px;
          .iconwrap {
            width: fit-content;
            margin: 0 auto;
          }

          span {
            font-size: 1.3em;
            font-weight: 500;
            padding: 3px 0;

          }
          i {
            font-size: 2.2em;
            text-align: center;
            
            //border: 2px solid rgba(228, 19, 106, 0.747);
            //border: 2px solid #302f2f83;
          }  // color:rgba(228, 19, 106, 0.747)
          .iconwrap-responsive {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            margin: 0 auto;
            i:nth-child(2) {
              margin: 0 2%;
            }
          }
        }
        .tile:nth-child(2) {
          margin: 0 1%;
        } 
        .tile:nth-child(3) {
          margin: 0 1% 0 0;
        } 
      }
    }
  }
}

//breakpoints

@media screen and (max-width: 1024px) {
  .main {
    .overlayer {
      height: 75vh;
    }
  }
  header {
    .logo {

    }
    nav {
      .contact-button {
      }
    }
  }
  .hero {
    margin-top: 19vh;
    .hero-greeting {
      #greeting-wrap {
        //color: #3D3D3D;
      }
      #cursor {
        width: 4px;
        height: 75px;
        background-color: #616161;
      }
    }
    #intro-wrap {
      .intro {
      }
      #workbuttonwrap {
        #workbutton{ 
          padding: 15px 25px ;
          color: #387094;
          font-size: 1.1em;
          font-weight: 500;
        } 
      }
    }
  }
}

@media only screen and (max-width: 812px) {
  .main {
    .overlayer {
      // height: 100vh;
    }
  }
  header {
    .logo {
      padding: 45px;
    }
    nav {

      .contact-button {
        font-size: .8em;
      }
    }
  }
  .hero {
    margin-top: 12vh;
    .hero-greeting {
      #greeting-wrap {
        white-space: pre-line;
        font-size: 1.6em;
        font-weight: 500;

        //color: #3D3D3D;
      }
      #cursor {
        width: 2.5px;
        height: 50px;
        background-color: #616161;
      }
    }
    #intro-wrap {
      .intro {
        font-size: 1.3em;
      }
      
      #workbuttonwrap {

        #workbutton{ 
          padding: 8px 12px ;
          color: #387094;
          font-size: 1em;
          font-weight: 500;
        } 
      }
    }
  }
  .about { 

    .title {

      padding: 5px 0;
      font-size: 2em;
    }
  }
  


}

@media screen and (max-width: 768px) {
  .main {
    height: 75vh;
  }
  header {
    .logo {
    
    }
    nav {
      .contact-button {

      }
    }
  }
  .hero {
    margin-top: 15vh;
    .hero-greeting {
      #greeting-wrap {
        font-size: 2em;
      }
      #cursor {
        width: 3px;
        height: 60px;
        background-color: #616161;
      }
    }
    #intro-wrap {
      .intro {
        font-size: 1.7em;
        padding: 0 0 10px 0;
      }
      #workbuttonwrap {
        #workbutton{ 
          padding: 10px 23px ;
        } 
      }
    }
  }

}

//mobile
@media screen and (max-width: 640px) {
  .main {
    height: 60vh;
    .overlayer {
      padding: 0 5%;
    }
  }
  header {
    padding: 5px 0;
    font-size: .5em;
    .logo {
		  padding: 45px;
    }
    nav {
      .about-button {
        display: none;
      }
      .contact-button {
        display: none;
      }
    }
    .uinav {
      display: block;
    }
  }

  .mobile-nav {
    float: right;
    display: block;
    top: 12vh;
  }
  .hero {
   
    .hero-greeting {
      #greeting-wrap {
        font-size: 1.2em;
      }
      #cursor {
        width: 2px;
        height: 35px;
      }
    }
    #intro-wrap {
      .intro {
        font-size: 1em;
        padding: 0 0 15px 0;
      }
      #workbuttonwrap {
        #workbutton{ 
          display: none;
        } 
      }
    }
  }

}

